


body{
    margin:0;
    background-color: #2E0854;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.menu {
  color: #05D9E8;
  margin-top: 40px;
}   

.left-column {
    flex-direction: column;
}

.title { 
    font-family: 'Press Start 2P', cursive; 
    color: #00FF00;
     text-align: center; 
    font-size: 28px; padding: 20px; 
    border: 6px solid #FF2A6D; 
    background-color: #0D0221; 
    box-shadow: 0 0 20px #FF2A6D, 0 0 40px #05D9E8; 
    margin-bottom: 20px;
    
}
.title .directions { 
    font-size: 12px; 
    text-align: center; 
    color: white;
    border: 4px solid #FF2A6D; 
    background-color: #0D0221; 
    box-shadow: 0 0 20px #FF2A6D, 0 0 40px #05D9E8; 
    line-height: 2;
    margin: 10px;
    }


.title .game-goal {
     font-size: 8px;
}

canvas{
    border:3px solid white;
}

#character {
  position: absolute;
  width: 32px; 
  height: 32px; 
  background-image: url('assets/char.png');
  background-size: 128px 128px; 
  transition: left 0.1s, top 0.1s; 
  image-rendering: pixelated; 
    
  left: 0px;  
  top: 0px;  
}
